In [1]:
import pandas as pd
import os

In [2]:
csv_path = r'E:\Datasets\VinBig Chest Dataset\VinBig Chest Dataset\train.csv'
df = pd.read_csv(csv_path)
df.head(5)

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN

In [16]:
df.shape

(67914, 8)

In [15]:
base_dir = r'E:\Datasets\VinBig Chest Dataset\VinBig Chest Dataset\train labels'

for i in range(df.shape[0]):
    img_id = df.loc[i, 'image_id'] + '.txt'
    path = os.path.join(base_dir, img_id)

    class_id = df.loc[i, 'class_id']
    x_min = df.loc[i, 'x_min']
    y_min = df.loc[i, 'y_min']
    x_max = df.loc[i, 'x_max']
    y_max = df.loc[i, 'y_max']

    if str(class_id) == '14':
        with open(path, 'w') as f:
            f.write('')
    else:
        with open(path, 'w') as f:
            f.write(str(class_id) + ' ' + str(x_min) + ' ' + str(y_min) + ' ' 
            + str(x_max) + ' ' + str(y_max))